# Type of database
schemaspy.t=informix

# Connection to Informix
schemaspy.host=${INFORMIX_HOST}
schemaspy.port=${INFORMIX_PORT}
schemaspy.server=${INFORMIX_SERVER}
schemaspy.db=${INFORMIX_DBNAME}
schemaspy.u=${INFORMIX_USER}
schemaspy.p=${INFORMIX_PASSWORD}

# Include all schemas
schemaspy.all=true

# Output
schemaspy.o=/output